nav.navbar.navbar-expand.navbar-dark{
  margin-bottom: 2rem;
  padding: 0rem 3.5rem;
  background-color: #152c49;
}

.mr-0.navbar-nav {
  position: absolute;
  right: 3.5rem;
}

button.ml-1.btn.btn-primary, button.ml-1.btn.btn-primary:active{
  background-color: #152c49;
}

button.ml-1.btn.btn-primary:focus{
  box-shadow: none!important;
  border:none;
}

button.btn.btn-primary {
  background-color: #152c49;
  border:none;
}
